/* ======================================================= */
/* import da fonte inter do google fonts */
/* ======================================================= */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ======================================================= */
/* reset-css */
/* ======================================================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ======================================================= */
/* estilizando body de todas as páginas do projeto */
/* utilização de várias classes ao mesmo tempo */
/* ======================================================= */

.body-index,
.body-lancamento,
.body-contato {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "inter", sans-serif;
}

/* ======================================================= */
/* estilizando cabeçalho de todas as páginas do projeto */
/* utilização de várias classes ao mesmo tempo */
/* ======================================================= */

.cabecalho-index,
.cabecalho-contato,
.cabecalho-lancamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.cabecalho-index__logo,
.cabecalho-contato__logo,
.cabecalho-lancamento__logo {
  width: 6rem;
}

.cabecalho-index__separador,
.cabecalho-contato__separador,
.cabecalho-lancamento__separador {
  width: 6rem;
}

.cabecalho-index__nav,
.cabecalho-contato__nav,
.cabecalho-lancamento__nav {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  font-size: 20px;
}

.cabecalho-index__nav__pag,
.cabecalho-contato__nav__pag,
.cabecalho-lancamento__nav__pag {
  text-decoration: none;
  font-weight: 500;
}

/* ======================================================= */
/* estilização dos rodapés de todas as páginas*/
/* ======================================================= */
.rodape-index,
.rodape-lancamento,
.rodape-contato {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b357e;
  padding: 10px;
}

.rodape-index__redes-sociais,
.rodape-lancamento__redes-sociais,
.rodape-contato__redes-sociais {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.rodape-index__rede,
.rodape-lancamento__rede,
.rodape-contato__rede {
  width: 30px;
}

.rodape-index__rede:hover,
.rodape-lancamento__rede:hover,
.rodape-contato__rede:hover {
  opacity: 0.7;
}

.rodape-index__texto,
.rodape-lancamento__texto,
.rodape-contato__texto {
  color: white;
}

.rodape-index__copyright,
.rodape-lancamento__copyright {
  flex: 1;
  text-align: center;
}

.rodape-index__copyright__texto,
.rodape-lancamento__copyright__texto,
.rodape-contato__copyright__texto {
  color: white;
}

.rodape-index__logo,
.rodape-lancamento__logo,
.rodape-contato__logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* ======================================================= */
/* página index.html */
/* estilização do main da página index */
/* ======================================================= */
.principal-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.principal-index__carro__foto {
  padding-right: 100px;
  padding-left: 100px;
  width: 100%;
}

.principal-index__descricao {
  padding: 10px;
  text-align: center;
}

/* ======================================================= */
/* página lancamento */
/* estilização do main da página lancamento */
/* ======================================================= */
.principal-lancamento {
  flex: 1;
}

.principal-lancamento__video-promocional {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.principal-lancamento__video-promocional iframe {
  width: 100%;
  height: 100%;
}

.principal-lancamento__comparacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.principal-lancamento__comaparacao__tabela__elementos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.principal-lancamento__comparacao__titulo {
  width: 17rem;
  font-size: 18px;
  color: #1b357e;
}

.principal-lancamento__comparacao__tabela {
  border-collapse: separate;
  border-spacing: 25px 0;
}

.principal-lancamento__botao button {
  padding: 10px;
  font-family: "inter", sans-serif;
  border: none;
  background-color: #1351D8;
  color: white;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* ======================================================= */
/* estilizando main da pagina contato */
/* ======================================================= */
.principal-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px;
}


.principal-contato__carro__foto {
  width: 40%;
}

.principal-contato__container__formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.principal-contato__container__formulario__perguntas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.principal-contato__container__formulario__perguntas__pergunta {
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}

.principal-contato__container__formulario__perguntas__pergunta__motivo {
  resize: vertical;
  max-height: 150px;
  width: 300px;
  height: 150px;
  font-family: inherit;
  padding: 7px;
}

.principal-contato__container__formulario__perguntas__botao {
  display: flex;
  justify-content: flex-end;
}

.principal-contato__container__formulario__perguntas__botao input {
  padding: 10px 70px;
  background-color: #1351D8;
  border: none;
  color: white;
  font-family: "inter", sans-serif;
  font-weight: 500;
  border-radius: 5px;
}

/* ======================================================= */
                  /* deixando responsivo */
/* ======================================================= */
@media (max-width: 850px) {

               /* cabeçalho de todas as páginas */   
    .cabecalho-index,
    .cabecalho-contato,
    .cabecalho-lancamento {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
    }

    .cabecalho-index__nav,
    .cabecalho-contato__nav,
    .cabecalho-lancamento__nav {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      margin-top: 15px;
      gap: 25px;
      font-size: 20px;
    }

              /* rodapé de todas as páginas */ 
    .rodape-index,
    .rodape-lancamento,
    .rodape-contato {
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;
      background-color: #1b357e;
      padding: 25px;
    }
    
    .rodape-index__redes-sociais,
    .rodape-lancamento__redes-sociais,
    .rodape-contato__redes-sociais {
      justify-content: space-between;
      width: 100%;
      
    }
    
    .rodape-index__rede,
    .rodape-lancamento__rede,
    .rodape-contato__rede {
      width: 30px;
    }
    
    .rodape-index__redes,
    .rodape-lancamento__redes,
    .rodape-contato__redes {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    
    .rodape-index__logo,
    .rodape-lancamento__logo,
    .rodape-contato__logo {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    
                          /* principal */
    .principal-contato {
      flex-direction: column;
    }

    .principal-index__carro__foto {
      padding-right: 20px;
      padding-left: 20px;
      width: 100%;
      height: 40vh;
      object-fit: scale-down;
    }
  }