@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* index.html */
.body-index {
  display: flex;
  flex-direction: column;
  gap: auto;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "inter", sans-serif;
}

/* estilizando cabeçalho */

.cabecalho-index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.cabecalho-index__logo {
  width: 6rem;
}

.cabecalho-index__separador {
  width: 6rem;
}

.cabecalho-index__nav {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  font-size: 20px;
}

.cabecalho-index__nav__pag {
  text-decoration: none;
  font-weight: 500;
}

/* estilizando corpo da página */
.principal-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.principal-index__carro__foto {
  padding-right: 100px;
  padding-left: 100px;
  width: 100%;
}

.principal-index__descricao {
  padding: 10px 0px;
}

/* estilizando o rodapé */
.rodape-index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b357e;
  padding: 10px;
}

.rodape-index__redes-sociais {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.rodape-index__rede {
  width: 30px;
}

.rodape-index__rede:hover {
  opacity: 0.7;
}

.rodape-index__texto {
  color: white;
}

.rodape-index__copyright {
  flex: 1;
  text-align: center;
}

.rodape-index__logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.rodape-index__copyright__texto {
  color: white;
}

/* lancamento.html */

.body-lancamento {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Estilizando cabeçalho */

.cabecalho-lancamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.cabecalho-lancamento__logo {
  width: 6rem;
}

.cabecalho-lancamento__separador {
  width: 6rem;
}

.cabecalho-lancamento__nav {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  font-size: 20px;
}

.cabecalho-lancamento__nav__pag {
  text-decoration: none;
  font-weight: 500;
}

/* estilização main - lançamento */

.principal-lancamento {
  flex: 1;
}

.principal-lancamento__video-promocional {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.principal-lancamento__video-promocional iframe {
  width: 100%;
  height: 100%;
}

/* estilização da tabela */
/* alinhando tudo no centro */

.principal-lancamento__comparacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.principal-lancamento__comparacao__tabela {
  border-spacing: 25px 0;
  border-collapse: separate;
}

/* alinhando elementos */
.principal-lancamento__comparacao__tabela__linha__dados {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

/* alinhando texto e botao de ajuda */
.principal-lancamento__comaparacao__tabela__elementos {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* estiliza o input checkbox */
.principal-lancamento__comparacao__checkbox__botao {
  width: 30px;
  height: 30px;
  cursor: pointer;
}


/* estiliza o título dos carros */
.principal-lancamento__comparacao__titulo {
  font-size: 20px;
  width: auto;
  font-weight: 400;
  color: #1b357e;
  
}

.principal-lancamento__botao button {
  padding: 10px;
  font-family: "inter", sans-serif;
  border: none;
  background-color: #1351D8;
  color: white;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* estilização footer - lancamento */
.rodape-lancamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1351D8;
  padding: 10px;
}

.rodape-lancamento__redes-sociais {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  flex: 1;
}

.rodape-lancamento__rede {
  width: 30px;
}

.rodape-lancamento__rede:hover {
  opacity: 0.7;
}

.rodape-lancamento__texto {
  color: white;
}

.rodape-lancamento__copyright {
  flex: 1;
  text-align: center;
}

.rodape-lancamento__copyright__texto {
  color: white;
}

.rodape-lancamento__logo {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}