* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

      /* estilizando cabeçalho */

.cabecalho-index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.cabecalho-index__logo {
  width: 6rem;
}

.cabecalho-index__separador {
  width: 6rem;
}

.cabecalho-index__nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cabecalho-index__nav__pag {
  text-decoration: none;
}

      /* estilizando corpo da página */
.principal-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal-index__carro__foto {
  padding-right: 100px;
  padding-left: 100px;
  width: 100%;
}

.principal-index__descricao {
  padding: 10px 0px;
}
